<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>UwUgle</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

<div style=" justify-content: center;">
  <div class="columns">
    <h1>UwUgle</h1>
    <br>
    <div class="rows">
      <p>Seartch bar</p>
      <p>Seartch btn</p>
      <br>
      <button>search</button>
    </div>
    <br>
    <p>Seartch result</p>
  </div>
</div>

</body>
</html>


<router-outlet/>
