/* You can add global styles to this file, and also import other style files */

/* Base styles for both themes */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  input {
    background-color: #ffffff;
    color: #000000;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #252525;
    color: #ffffff;

    input {
      background-color: #5e5e5e;
      color: #ffffff;
      border: none;
      outline: none;
    }
  }
}
